[Unit]
Description=VPN Exit Node
After=network.target

[Service]
Type=simple
#todo root might be a bad practice
User=root
WorkingDirectory=/opt/releases/current

#todo nvm node is a bad pratice to be solved in future
ExecStart=/home/admin/.nvm/versions/node/v24.19.0/bin/node /opt/releases/current/dist/index.js

Restart=always
RestartSec=5

Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
